body {
    font-family: Arial, sans-serif;
}

.header, .face {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9faf8;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a, .subhero {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.button {
    background-color: #3882f6;
    color: #E5E7EB;
}