body {
    font-family: Arial, sans-serif;
    /*How to import the "roboto" font? */
}

.header, 
.face {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9faf8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a, 
.subhero,
.subcall {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 8px 32px;
    font-size: 18px;
    border-radius: 11px;
    font-weight: 700;
}

.information {
    color:#1F2937;
    font-size: 36px;
    font-weight: 900;
}

.subimage {
    color:rgb(80, 80, 80);
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.call {
    background-color:#3882f6;
}

.button.buttonbottom {
    border: 1px solid #F9FAF8;
}

.topcall {
    color:#F9FAF8;
    font-size: 32px;
}

.subcall {
    font-size:18px;
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}